@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;1,200&family=Pacifico&display=swap');

:root{
    --main-theme: #ffd166;
    --main-white: #ffffff;
    --sub-light: #b8b8ff;
    --sub-dark: #485696;

    --font-logo:'Pacifico', cursive;
    --font-main:'Noto Sans', sans-serif;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 20
}

body{
    margin: 0;
    font-family: var(--font-main);
    display: grid;
}
ul{
    list-style-type: none;
}

li{
    height: 38px;
    font-size: 20px;
}

li:hover{
    cursor: pointer;
}


.grid-container {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 75% 10%;
    /* grid-template-areas:
        'header header header '
        'nav main main'
        'nav footer footer'; */
    /* gap: 10px; */

    padding: 10px;
}
      
header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.logo{
    text-align: left;
    font-family: var(--font-logo);
    font-size: 40px;
    font-weight: 400;
    color: var(--sub-dark);
    width: 100vw;
    padding-left: 30px;
}
span{
    color: var(--main-theme);    
}



nav{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
    background-color: var(--main-white);
    height: 100vh;
}


.project--list{
margin: 0;
}

.project--input, .task--input{
    border: 0;
    border-bottom: 1px solid var(--sub-dark);
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
}

section{
    grid-column: 2/ span 3;
    grid-row: 2/ span 3;
}

.task--input{
    width: 80%;
}

::placeholder {
    color: var(--sub-light);
    font-family: var(--font-main);
  }


footer{
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    width: 100%;
    display: block;
    text-align: center;
    color: black;
}