

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;1,200&family=Pacifico&display=swap');

:root{
    --main-theme: #ffd166;
    --main-white: #ffffff;
    --sub-light: #b8b8ff;
    --sub-dark: #485696;

    --font-logo:'Pacifico', cursive;
    --font-main:'Noto Sans', sans-serif;

}

html,body {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 20;
  opacity: 1;
  color: var(--sub-dark);
  transition: color .1s;
}
.material-symbols-outlined:hover{
    color: var(--main-theme);

}




.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    padding: 40px;
    column-gap: 30px;
}
      
header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.logo{
    text-align: left;
    font-family: var(--font-logo);
    font-size: 40px;
    font-weight: 300;
    color: var(--sub-dark);
    width: 100vw;
}
span{
    color: var(--main-theme);    
}



nav{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
    background-color: var(--main-white);
    height: 60vh;
}


.active{
    border-radius: 20px;
    background-color: var(--sub-light);
    color: var(--main-white);
}



.project--input{
    width: 100%;
}

.task--input, .project--input{
    border: 0;
    border-bottom: 1px solid var(--sub-light);
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    transition: border-color .3s;
}

input:focus{
    border-bottom: 1px solid var(--main-theme);
}
input:focus::placeholder{
    opacity: 0;
}


ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 0 10px;
    height: 38px;
    font-size: 20px;
    line-height: 38px;
    font-weight: 300;
}

li:hover{
    cursor: pointer;
}


.project--item{
    transition: color .2s;
}

.project--item:hover{
    color: var(--sub-dark);
}


.task--box{
    grid-column: 2/ 5;
    grid-row: 2/ 3;
}


.task--project{
    width:20%;
}

  
.task--input{
    width: 100%;
}

.task--list{
    padding: 0;
}

.task--item{
    display: grid;
    grid-template-columns: 5% 5% 80% 10%;
    align-items: center;
    grid-template-rows: auto;
    height: 100%;}

.task--item:hover{
    color: var(--sub-light);
}

.checkbox.task--checked{
    color: var(--main-theme);
}

.task--title{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.task--title.task--checked{
    color: var(--main-theme);
    text-decoration :line-through ;
}


.icons{
    display: flex;
    justify-content: space-evenly;
}


::placeholder {
    color: var(--sub-light);
    font-family: var(--font-main);
  }


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

footer h4{
    margin: 0;
}